<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">New Company</li>
</ol>

<div class="row text-center bottom-space">
  <h3>Create Your Company Profile</h3>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<%= render 'form' %>