<ol class="breadcrumb">
  <li>
    <%= link_to 'Company Listing', companies_path %>
  </li>
  <li>
    <%= link_to @company.name, company_path(@company) %>
  </li>
  <li class="active">
    Edit
  </li>
</ol>

<%= render 'form' %>
