<ol class="breadcrumb">
  <li class="active">
    Company Listing
  </li>
</ol>

<% @companies.each do |company| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>
      <%= company.name %> <small><%= company.location %></small>
    </h2>
    <div class="company-description">
      <%= simple_format(company.description.split("\n")[0..3].join(" ")) %>
    </div>
    <p>
      <br>
      <a href="<%= company_path(company) %>" class="btn btn-primary">Read More &raquo;</a>
    </p>
  </div>
</div>
<% end %>
