<div class="row">
  <div class="col-md-12">

    <div class="card my-4">
      <h5 class="card-header">Categories</h5>
      <div class="card-body">
        <div class="row text-center">
          
            <% if @tags.present? %>
            <% @tags.each do |tag| %>
             <h5><span class="badge badge-info"><%= tag %></span></h5>
            <% end %>
            <% else %>
             "No category has been added yet."
            <% end %>
           
         
        </div>
         <div class="col-md-12" align="right">
            <%= link_to "Add Categories", edit_company_path(@company), class: "btn btn-secondary" %>
          </div>
      </div>

    </div>

  </div>

</div>